@model RegisterViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<h3>Üye Kayıt Ekranı</h3>
<br />

<div class="container">
    <form method="post">
        <label>Adınız</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Soyadınız</label>
        <input type="text" class="form-control" asp-for="Surname" />
        <br />
        <label>Mail Adresiniz</label>
        <input type="text" class="form-control" asp-for="Email" />
        <br />
        <label>Kullanıcı Adınız</label>
        <input type="text" class="form-control" asp-for="Username" />
        <br />
        <label>Şifreniz</label>
        <input type="text" class="form-control" asp-for="Password" />
        <br />
        <button class="btn btn-outline-primary">Kayıt Ol</button>
    </form>
</div>